header
  h1: a(href="/") Ryan Tsao
  nav
    ul
      li: a(href="/contact") Contact
      li: a(href="/blog") Blog
      li: a(href="/projects") Projects
      li: a(href="https://github.com/rtsao") GitHub