include ../mixins/projectlinks
include ../mixins/tags

each project in projects
  article.project
    h3.project-kicker= project.kicker
    a(href='/'+project.path)
      h2.project-title= project.title
      img.screenshot(src=project.image)
      +tags(project.tags)
    != project.excerpt
    +projectlinks(project)