@import (inline) "../../node_modules/normalize.css/normalize.css";
@import "animations";

body {
  font-family: "inconsolata", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.landing {
  text-align: center;
  .fadeInUp;
}